@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #131313;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

/* position: absolute;
top: calc(50% - 4em);
left: calc(50% - 4em); */

.loader-appear {
  animation: appear ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loader-hide {
  animation: vanishing ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loader-pause {
  animation: none;
}

.loader-anim {
  animation: spinning 1s infinite ease-in-out;
}

.loader-big {
  animation: big ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loader .loading-cube {
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  top: calc(50% - (80px / 2));
  left: calc(50% - (80px / 2));
  z-index: 1;
}

.cube-hide {
  opacity: 0;
}

@keyframes vanishing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinning {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes big {
  0% {
    opacity: 0;
    transform: rotate(-360deg);
  }
  5% {
  }
  25% {
    background-color: #dfc011;
  }
  40% {
    transform: scale(2, 11);
  }
  70% {
    background-color: #e58918;
  }
  90% {
    background-color: #c17013;
    transform: scale(23, 11);
  }
  100% {
    background-color: #ffffff;
    transform: scale(23, 0);
  }
}
